.container-md {
    width: 60%;
    font-size: large;
}

@media (max-width: 912px){
    .container-md {
        width: 75%;
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .container-md {
        width: 100%;
        font-size: 12px;
    }
}
